.logo {
  background: url("../../images/logo.svg") no-repeat;
  width: 38px;
  height: 38px;
  background-size: contain;
  margin: 0;
  cursor: pointer;
  transition: opacity .2s linear;
}

.logo:hover {
  opacity: 0.7;
}