.navigation {
  display: flex;
  font-family: Inter,Arial,sans-serif;
  padding-left: 60px;
}

.navigation__films {
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  margin-right: 16px;
  font-weight: 400;
  text-decoration: none;
  transition: opacity .2s linear;
}

.navigation__films_white {
  color: #FFFFFF;
}

.navigation__films:hover {
  opacity: 0.7;
}

.navigation__saved-films {
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  margin-right: 16px;
  font-weight: 400;
  text-decoration: none;
  transition: opacity .2s linear;
  margin-right: 0;
}

.navigation__active {
  font-weight: 500;
}

@media screen and (max-width: 770px) {
  .navigation {
    display: none;
  }
}